extends ../layout

block content

  //- The homepage hero section
  section#home.home-section.home-fade.bg-dark-30(data-background='assets/images/neural.jpg')
    .hs-caption
      .caption-content
        .hs-title-size-1.font-alt.mb-30
          | Meet your universally accessible companion
        .hs-title-size-4.font-alt.mb-40
          | Nessle is&nbsp;
          span.rotate Smart | Quick | Yours

  //- The actual rest of the page
  .main

    //- What is Nessle?
    section#about.module
      .container
        .row
          .col-sm-8.col-sm-offset-2
            h2.module-title.font-alt What is Nessle?
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .module-subtitle.large-text
              | Its&rsquo;s just an idea. The idea that we should always have access to the information we need. But what's the one form of network that's most universally available at the moment? Our cellular networks. Now, even without a data plan, you can query the internet for the answers you need whenever you need it!
        .row
          .col-sm-2.col-sm-offset-5
            .large-text.align-center
              a.section-scroll.btn.btn-border-w.btn-circle.special(href='#alt-features') Click to Try it Out!
              //- a.section-scroll(href='#alt-features')
              //-   | Try it out!
              //-   i.fa.fa-angle-down

    //- The Simulator!
    section#alt-features.module
      .container
          .row
            .col-sm-6.col-sm-offset-3
              h2.module-title.font-alt Give it a try!
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .module-subtitle.font-serif
                | Simply text the number '(925) 326-6640' with any query you would like answered or test it on the simulator below! Please note that some queries can be computed by the server, which makes use of the Wolfram Alpha API.
          .row
            .col-sm-6.col-md-3
              .alt-features-item
                .alt-features-icon
                  span.icon-strategy
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3.alt-features-title.font-alt Example Query
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;How tall is the Eiffel Tower?
                span.answer
                  | 324 meters.
              .alt-features-item
                .alt-features-icon
                  span.icon-tools-2
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3.alt-features-title.font-alt Example Query
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;How many people are in the world?
                span.answer
                  | 7.13 billion people.
              .alt-features-item
                .alt-features-icon
                  span.icon-target
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3.alt-features-title.font-alt Example Query
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;How many grams are in an ounce?
                span.answer
                  | 28.35 grams.
              .alt-features-item
                .alt-features-icon
                  span.icon-tools
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3.alt-features-title.font-alt Example Query
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Convert 4 cups to tablespoons.
                span.answer
                  | 64 tbsp.
            .col-sm-6.col-md-3.col-md-offset-1
              include simulator
            .col-sm-6.col-md-3.col-md-offset-1
              .alt-features-item
                .alt-features-icon
                  span.icon-camera
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3.alt-features-title.font-alt Speed
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;The answer is returned in a matter of seconds. Speed allows users to get the information they need when they need it.
              .alt-features-item
                .alt-features-icon
                  span.icon-mobile
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3.alt-features-title.font-alt Mobile
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nessle was designed specifically for mobile! Simply take your mobile phone and text the number given with any query you would like answered.
              .alt-features-item
                .alt-features-icon
                  span.icon-linegraph
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3.alt-features-title.font-alt Connectivity
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;The whole design of Nessle allows users to connect with the internet, even without the internet. Just through text.
              .alt-features-item
                .alt-features-icon
                  span.icon-basket
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3.alt-features-title.font-alt Universality
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;The span of questions that are available for questioning is incredible. Most, if not all, questions can be adequately answered by the API.
