section#footer.section.footer-section
  .container
    // Social Media Outlets
    .footer-socmed
      a.fa.fa-twitter(href='https://twitter.com/@yudan96', target='_blank')
        span.label
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      a.fa.fa-linkedin(href='https://linkedin.com/in/dxy96', target='_blank')
        span.label
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      a.fa.fa-facebook(href='https://facebook.com/danyudelion', target='_blank')
        span.label
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      a.fa.fa-github(href='https://github.com/danXyu', target='_blank')
        span.label
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      a.fa.fa-medium(href='https://medium.com/@yudan96', target='_blank')
        span.label
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      a.fa.fa-google-plus(href='https://plus.google.com/+DanYuX', target='_blank')
        span.label
    // Copyright Information
    .footer-copyright
      p.copy
        | Copyright &copy; 2014 Nessle, All Rights Reserved.
